<app-navbar></app-navbar>
  <ul class="list-group">
    <li class="list-group-item active" aria-current="true">Login Info Details</li>
    <li class="list-group-item">{{loginInfo.id}}</li>
    <li class="list-group-item">{{loginInfo.firstname}}</li>
    <li class="list-group-item">{{loginInfo.lastname}}</li>
    <li class="list-group-item">{{loginInfo.mobile}}</li>
    <li class="list-group-item">{{loginInfo.email}}</li>
  </ul>

  <div class="row">
    <div class="col offset-7">
      <button class="btn btn-primary m-auto" (click)="logout()">Logout</button>
    </div>
  </div>